*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: ZillaSlab;
    src: url(./font/ZillaSlab-Bold.ttf);
}
body{
    font-family: ZillaSlab, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c7cdd3;
}
h1{
    position: absolute;
    top: 0;
    margin-top: 40px;
}
h2#moves1{
    position: absolute;
    top: 0;
    margin-top: 80px;
}
#gameBoard{
    width: 45%;
    aspect-ratio: 5/4;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}
.card{
    position: relative;
    transform-style: preserve-3d;
    transition-duration: .5s;
}
.card:hover{
    cursor: pointer;
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
}
.flip{
    transform: rotateY(180deg);
}
.card-front{
    background-color: #101c2c;
    transform: rotateY(180deg);
}
.card-back{
    background-color: #05c3ff;
    color: #101c2c;
    font-size: 30px;
}
#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
     /* none */
    top: 0;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2#moves2{
    font-size: 24px;
}
#restart{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border-radius: 10px;
    margin-top: 15px;
    border-style:none;
}
#restart:hover{
    cursor: pointer;
}
@media screen and (max-width: 1450px){
    h1{
        margin-top: 20px;
    }
    h2#moves1{
        margin-top: 60px;
    }
    #gameBoard{
        width: 55%;
        margin-top: 50px;
    }
}    

@media screen and (max-width: 780px){
    h1{
        margin-top: 30px;
        font-size: 40px;
    }
    h2#moves1{
        margin-top: 80px;
    }
    #gameBoard{
        width: 90%;
        margin-top: 50px;
    }




}

@media screen and (max-width: 430px){
    h1{
        margin-top: 10px;
        width: 80%;
        font-size: 30px;
        text-align: center;
    }
    h2#moves1{
        margin-top: 80px;
    }
    #gameBoard{
        margin-top: 60px;
        aspect-ratio: 4/7;
    }
}

@media screen and (max-height: 670px){
    #gameBoard{
        width: 90%;
        margin-top: 70px;
        aspect-ratio: 4/6;
    }
}